@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/4.1.0/css/fabric.min.css');
@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.min.css');
@import url('https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.2.0/css/fabric.components.min.css');

#Render-Target {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  width: 1280px;
  height: 720px;
  position: relative;
}
